<!-- register-login.html -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/profile-vcard/profile-vcard.html">

<link rel="lazy-import" href="app-inicio.html">
<link rel="lazy-import" href="aviso-legal.html">

<link rel="lazy-import" href="app-acceso.html">
<link rel="lazy-import" href="app-registro.html">
<link rel="lazy-import" href="app-mi-portafolio.html">
<link rel="lazy-import" href="app-salida.html">

<link rel="lazy-import" href="no-encontrado-404.html">

<link rel="import" href="shared-styles.html">

<dom-module id="app-acceso">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 0px;
      }
      .wrapper-btns {
          margin-top: 10px;
      }
      paper-button.link {
          color: #757575;
      }      
      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      } 
      card-content profile-vcard{
          background-color: #673AB7
      }  
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax
        id="appLoginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError" >
    </iron-ajax>    
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>


    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1><strong>Acceso</strong></h1>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>   

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input id="email" type="text" value="{{formData.email}}" placeholder="Email">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postAcceso">Acceso</paper-button>
          <paper-button class="link" on-tap="goRegistro">Registro</paper-button>
        </div>

    </div>
    
    <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
      <h4>Bienvenido, puede consultar sus cuentas en: 
        <a name="app-mi-portafolio" href="[[rootPath]]app-mi-portafolio">Mi Portafolio</a>   o 
        <a name="app-salida" href="[[rootPath]]app-salida">Salir</a>
      </h4>
        <profile-vcard 
          name="[[storedUser.nombre]], [[storedUser.apellido]]"  
          image="https://ui-avatars.com/api/?name=[[storedUser.nombre]]+[[storedUser.apellido]]"
          profession=""
          twitter="[[storedUser.email]]" 
          website="[[storedUser.email]]"
          place="[[storedUser.pais]]"  >
        </profile-vcard>
      <log-out stored-user="{{storedUser}}"></log-out>
    </div><!--  //authenticated -->

  </template>

  <script>
    class AppAcceso extends Polymer.Element {
      static get is() { return 'app-acceso'; }
      
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {},
            storedUser: Object,
            error: String            
          }
        }
      }     

        
      _setReqBody() {
        this.$.appLoginAjax.body = this.formData;
      }

      postAcceso() {
        var _SERVER ='https://api-bank-io.1d35.starter-us-east-1.openshiftapps.com'
            _SERVER = 'http://localhost:3000';
        this.$.appLoginAjax.url = _SERVER + '/v1.0/usuarios/acceso';
        this._setReqBody();
        this.$.appLoginAjax.generateRequest();

      }

      goRegistro() {
        this.set('route.path', '/app-registro');
      }

      goUsuarioPortafolio() {
        this.set('route.path', '/app-mi-portafolio');
      }


      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);
//      console.log(response.data)
        if (response.data.length>0) {
          this.error = '';
          this.storedUser = {
            nombre: response.data[0].nombre,
            apellido: response.data[0].apellido,
            email: response.data[0].email,
            pais: response.data[0].pais,
            idusuario: response.data[0].idusuario,
            id_token: response.data[0].$0id,
            access_token: response.data[0]._id,

            loggedin: true
          };
          // this.set('route.path', '/app-mi-portafolio');
        }
        else{
        // reset form data
          this.formData = {};         
        }
      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }

    }

    window.customElements.define(AppAcceso.is, AppAcceso);
  </script>
</dom-module>
