<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="lazy-import" href="app-inicio.html">
<link rel="lazy-import" href="aviso-legal.html">

<link rel="lazy-import" href="app-acceso.html">
<link rel="lazy-import" href="app-registro.html">
<link rel="lazy-import" href="app-mi-portafolio.html">
<link rel="lazy-import" href="app-salida.html">

<link rel="lazy-import" href="no-encontrado-404.html">

<dom-module id="app-salida">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }
      paper-button {
        background: #f44336;
        color: #fff;
        font-weight: bold;
      }
      a {
        color: #fff;
        display: inline-block;
        font-size: 13px;
      }
    </style>

    <app-data key="userData" data="{{storedUser}}"></app-data>

    <template is="dom-if" if="{{link}}">
      <paper-button raised on-tap="logout">Cerrar sesion.</paper-button>
    </template>


  </template>


  <script>
    (function() {
      Polymer({
        is: 'app-salida',
        properties: {
          storedUser: Object,
          link: {
            type: Boolean,
            value: false
          }
        },
        logout: function() {
          // remove user data
          this.storedUser = null;
        }
      });
    }());
  </script>

</dom-module>