<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="lazy-import" href="app-inicio.html">
<link rel="lazy-import" href="aviso-legal.html">

<link rel="lazy-import" href="app-acceso.html">
<link rel="lazy-import" href="app-registro.html">
<link rel="lazy-import" href="app-mi-portafolio.html">
<link rel="lazy-import" href="app-salida.html">

<link rel="lazy-import" href="no-encontrado-404.html">



<dom-module id="app-inicio">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <iron-ajax
      id="getTotalUsers"
      auto
      url="http://api-bank-io.1d35.starter-us-east-1.openshiftapps.com/v1.0/usuarios"
      method="get"
      handle-as="json"
      last-response="{{data}}">
    </iron-ajax>    

    <div class="card">
      <!--<div class="circle">1</div>-->
      <h1>Inicio</h1>
      <p>Bank-io es una propuesta para gestión de tus finanzas.</p>
      <p>Te invitamos a conocer nuestra plataforma</p>
      <p>Forma parte de nuestros usuarios activos: <strong>[[data.total_usuarios]]</strong>
      <p>
        Suspendisse commodo convallis tellus, vehicula elementum magna varius ut. Morbi lobortis augue vel nunc dapibus aliquam. Pellentesque sit amet eleifend dui. Phasellus tellus orci, posuere vitae sodales eget, mollis vel nulla. Morbi vestibulum id dui non efficitur. Duis tristique nulla at gravida scelerisque. Integer ac efficitur ipsum. Cras sodales porttitor lorem, eget finibus urna vehicula in. Integer felis turpis, maximus fermentum convallis quis, feugiat vel nunc. Fusce at elit at neque euismod ultricies.
      </p>
        Nunc sed risus eget tortor finibus ornare eget eu lectus. Nam tempus, urna eget congue vulputate, odio nisi elementum lectus, scelerisque pharetra tellus ligula vitae neque. Aenean rhoncus risus mauris, vel consectetur arcu sodales et. Quisque volutpat enim ut urna scelerisque condimentum. Vestibulum vel massa sit amet nibh ultrices tristique. Nam sed ligula sagittis, efficitur tellus imperdiet, pellentesque felis. Morbi id egestas risus, sed volutpat urna.
      </p>
    </div>
  </template>

  <script>
    class AppInicio extends Polymer.Element {
      static get is() { return 'app-inicio'; }

      getQuote() {
          this.$.getQuoteAjax.generateRequest();
      }

    }

    window.customElements.define(AppInicio.is, AppInicio);
  </script>
</dom-module>
