<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="lazy-import" href="app-inicio.html">
<link rel="lazy-import" href="aviso-legal.html">

<link rel="lazy-import" href="app-acceso.html">
<link rel="lazy-import" href="app-registro.html">
<link rel="lazy-import" href="app-mi-portafolio.html">
<link rel="lazy-import" href="app-salida.html">

<link rel="lazy-import" href="no-encontrado-404.html">

<dom-module id="aviso-legal"> <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <!--<div class="circle">3</div>-->
      <h1>Aviso  Legal</h1>
      <p>Términos y Condiciones del servicio.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eros orci, euismod eget eleifend condimentum, ullamcorper sed dui. Ut feugiat, nunc eu tristique facilisis, erat leo congue turpis, at feugiat mauris lorem ut lorem. Sed volutpat auctor neque, et tincidunt sem mollis facilisis. Etiam nunc tortor, porta ac enim quis, rhoncus ornare quam. Suspendisse ac erat turpis. Vestibulum sit amet enim vitae urna ultricies ornare sed consequat nisl. In malesuada, ipsum vel congue malesuada, dui elit vestibulum neque, tincidunt rutrum enim diam a nulla.
      </p>
        Mauris a euismod leo, eu scelerisque enim. Ut cursus quam a ornare eleifend. Morbi in ipsum ac justo fermentum egestas ut at justo. Ut molestie molestie ultricies. Pellentesque nec ultrices purus. Aliquam eu posuere massa. Maecenas luctus vestibulum gravida. Praesent blandit suscipit ligula, sit amet dignissim purus porta at. Fusce at nisl quis eros commodo lobortis vel ac odio. Fusce consectetur iaculis justo, vel sollicitudin mauris ullamcorper id. Sed risus libero, malesuada sed magna ac, pharetra sollicitudin massa.

        
      </p>
    </div>
  </template>

  <script>
    class AvisoLegal extends Polymer.Element {
      static get is() { return 'aviso-legal'; }
    }

    window.customElements.define(AvisoLegal.is, AvisoLegal);
  </script>
</dom-module>
