<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="lazy-import" href="app-inicio.html">
<link rel="lazy-import" href="aviso-legal.html">

<link rel="lazy-import" href="app-acceso.html">
<link rel="lazy-import" href="app-registro.html">
<link rel="lazy-import" href="app-mi-portafolio.html">
<link rel="lazy-import" href="app-salida.html">

<link rel="lazy-import" href="no-encontrado-404.html">

<dom-module id="no-encontrado-404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Algo está mal, no se encontro el recurso solicitado :: 404. <a href="[[rootPath]]">Regresar al Inicio.</a>
  </template>

  <script>
    class NoEncontrado404 extends Polymer.Element {
      static get is() { return 'no-encontrado-404'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(NoEncontrado404.is, NoEncontrado404);
  </script>
</dom-module>
